node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store

# android
android/.gradle/**/*
android/app/build/generated/**/*
android/app/build/intermediates/**/*
android/app/build/outputs/**/*
android/app/build_defs.bzl
android/app/proguard-rules.pro
android/app/debug.keystore
yarn-error.log
